/**************************************************/
/* Forms
/**************************************************/
.pms-form input[type=text],
.pms-form input[type=password],
.pms-form input[type=email],
.pms-form input[type=textarea],

#pms_login input[type=text],
#pms_login input[type=password],
#pms_login input[type=email] {
    width: 100%;
}

.pms-form > input[type=submit] {
    margin-right: 20px;
}

.pms-form-fields-wrapper {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.pms-field-section {
    list-style: none;
}

.pms-field {
    margin-bottom: 20px;
}

.pms-field input[type=checkbox],
.pms-field input[type=radio] {
    margin-right: 7px;
}

.pms-field.pms-field-select select {
    width: 100%;
}

.pms-field.pms-field-checkbox .pms-field-input-container label,
.pms-field.pms-field-radio .pms-field-input-container label {
    display: inline-block;
    margin-right: 12px;
}

.pms-field-description {
    font-size: 0.85em;
    font-style: italic;
    opacity: 0.8;
    margin: 5px 0;
}

/* input[type=submit] that are disabled */
.pms-submit-disabled {
    cursor: not-allowed !important;
}

.pms_field-errors-wrapper p {
    font-size: 80%;
    color: #c0392b;
}

.pms-login-error {
    padding: 5px 10px;
    border: 1px solid rgba(255, 64, 64, 0.75);
    background: rgba(255, 64, 64, 0.1);
}

.pms-form-errors-wrapper {
    padding: 5px 10px;
    border: 1px solid rgba(255, 64, 64, 0.75);
    background: rgba(255, 64, 64, 0.1);
    margin-bottom: 1em;
    font-size: 80%;
    color: #c0392b;
}

.pms-form-errors-wrapper p:last-of-type {
    margin-bottom: 0;
}


/* Success messages */
.pms_success-messages-wrapper p {
    padding: 5px 10px;
    background: rgba(59,139,8, 0.2);
    border: 1px solid rgba(59,139,8, 0.5);
    color: rgb(49,115,7);
}

/* Warning messages */
.pms-warning-message-wrapper {
    padding: 20px;
    border: 1px solid #e67e22;
    border-radius: 5px;
    background: rgba(230,126,34,0.25);
    margin-bottom: 2em;
}

.pms-warning-message-wrapper > p:last-of-type {
    margin-bottom: 0;
}


/**************************************************/
/* Subscription plans
/**************************************************/
.pms-subscription-plans-group-wrapper {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.6842em;
}

.pms-subscription-plan {
    margin-bottom: 1.345em;
}

.pms-subscription-plan input {
    margin-right: 7px;
}

.pms-subscription-plan-description {
    font-size: 85%;
    font-style: italic;
    margin-left: 24px;
}

.pms-subscription-plan.pms-hidden .pms-subscription-plan-description {
    margin-left: 0;
}

.pms-subscription-plan.pms-last,
.pms-subscription-plans-group-wrapper.pms-last {
    border-bottom: 0;
}


/**************************************************/
/* Subscription plans - Account
/**************************************************/
.pms-account-subscriptions-header > span,
.pms-account-subscription > span {
    display: inline-block;
    width: 24%;
    vertical-align: text-top;

}

.pms-account-subscription-details-table tr > td:first-of-type {
    font-weight: bold;
}

.pms-account-subscription-action-link {
    margin-right: 10px;
}

.pms-subscription-plan.pms-subscription-plan-has-actions,
.pms-subscription-plans-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.8421em;
    padding-bottom: 0.8421em;
}

.pms-subscription-plan.pms-subscription-plan-has-actions:after {
    display: block;
    content: '';
    clear: both;
}

.pms-subscription-plans-header {
    font-weight: bold;
}

.pms-subscription-plan-name,
.pms-subscription-plan-expiration {
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
}

.pms-subscription-plan-actions {
    float: right;
}

.pms-subscription-plan-actions a {
    margin-left: 10px;
}

.pms-subscription-plan-actions a:first-of-type {
    margin-left: 0;
}

.pms-subscription-plan-actions .pms-action-retry-payment-wrapper {
    text-align: right;
}


/**************************************************/
/* Profile Builder Subscription Plans Field
/**************************************************/
.wppb-form-field.wppb-subscription-plans label {
    width: 100%;
    float: none;
}

.wppb-form-field.wppb-subscription-plans input {
    display: inline-block;
    width: auto;
    float: none;
    margin-right: 7px !important;
}

.wppb-form-field.wppb-subscription-plans span.description {
    display: block;
    font-size: 100%;
    font-style: italic;
    margin-left: 0;
    margin-bottom: 1.5em;
}


/**************************************************/
/* Payment Gateways Options
/**************************************************/
#pms-paygates-wrapper {
    margin-bottom: 1em;
}

#pms-paygates-inner {
    visibility: hidden;
}

#pms-paygates-inner > label {
    margin-right: 20px;
}

#pms-paygates-inner > label input[type=radio] {
    margin-right: 7px;
}

#pms-gateways-not-available {
    display: none;
    background: rgba(52, 152, 219, 0.25 );
    border: 1px solid rgba(52, 152, 219, 0.85);
    color: rgba(41, 128, 185, 1.0);
    padding: 0.5em 0.75em;
}

/**************************************************/
/* Auto-Renew Checkbox
/**************************************************/
.pms-subscription-plan-auto-renew {
    margin-bottom: 1em;
}

.pms-subscription-plan-auto-renew input[type=checkbox] {
    margin-right: 7px;
}

/**************************************************/
/* Tables
/**************************************************/
.pms-table,
.pms-table th,
.pms-table td { border: 1px solid #e1e1e1; }

.pms-table { border-width: 1px 0 0 1px; }

.pms-table th,
.pms-table td { border-width: 0 1px 1px 0; }


/**************************************************/
/* Placeholder for the submit buttons while processing
/**************************************************/
#pms-submit-button-loading-placeholder-text { display: none; }