/* Generals.
-------------------------------------------------------------- */

div {
    margin: 0;
}

button, .wpcd-btn {
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    border: 0;
    color: #fff;
    line-height: 1.3;
    margin: 0;
}

a.wpcd-btn .wpcd_coupon_icon,
a.wpcd-btn .wpcd_deal_icon {
    margin-top: 0;
    vertical-align: middle;
}

/* Coupon Shortcode styles.
-------------------------------------------------------------- */
.wpcd-coupon {
    background: #fafafa none repeat scroll 0 0;
    border: 2px dashed #000000;
    box-sizing: border-box;
    margin: 15px 0 15px 5px;
    padding: 10px 5px 10px 10px;
}

.wpcd-coupon::after, .wpcd-coupon::before{
    clear: both;
    display: block;
    content: "";
}

.wpcd-coupon-discount-text {
    width: 95%;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 1px 1px 4px rgba(34,34,34,.2);
    overflow-wrap: break-word;
}

.coupon-type {
    width: 95%;
    background: #56b151;
    padding: 7px 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    box-shadow: 1px 1px 4px rgba(34,34,34,.2);
}

.deal-type {
    width: 95%;
    background: #56b151;
    padding: 7px 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    box-shadow: 1px 1px 4px rgba(34,34,34,.2);
}

.wpcd-coupon-content {
    margin: 0px;
}

.wpcd-coupon-header {
    width: 100%;
    float: left;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

.wpcd-extra-content {
    width: 100%;
    float: left;
}

.wpcd-coupon-title {
    width: 100%;
    font-size: 21px;
}

.wpcd-coupon-code {
    width: 100%;
    text-align: center;
}

.wpcd-coupon-description {
    text-align: justify;
    margin-top: 5px;
    line-height: 1.6em;

}

.wpcd-btn {
    font-size: 13px;
    border: 2px dashed #ccc;
    color: #347BAF;
    background: #FAFAFA;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none !important;
}

.wpcd-coupon-button {
    margin: 0;
}

.wpcd-deal-button {
    margin: 0;
}

.wpcd-coupon-button:hover {
    color: #347BAF;
    background-color: #ffffff;
    border-color: #347BAF;
}

.wpcd-deal-button:hover {
    color: #347BAF;
    background-color: #ffffff;
    border-color: #347BAF;
}

.wpcd-coupon-expire {
    color: green;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    padding-left: 5px;
}

.wpcd-coupon-expired {
    color: red;
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding-left: 5px;
    margin-top: 5px;
}

.wpcd_coupon_icon{
    background: url('../img/coupon-code-24.png') no-repeat top left;
    display: inline-block;
    height: 24px;
    margin: -2px 0px 0 0;
    vertical-align: text-top;
    width: 24px;
}

.wpcd_deal_icon{
    background: url('../img/deal-24.png') no-repeat top left;
    display: inline-block;
    height: 24px;
    margin: -2px 3px 0 0;
    vertical-align: text-top;
    width: 24px;
}


/* Premium Code Stripped by Freemius */


/* Coupon Widget Styles.
-------------------------------------------------------------- */
.wpcd-coupon-widget-title {
    width: 100%;
    font-size: 21px;
    text-align: center;
    padding-bottom: 5px;
}

.wpcd-widget-featured-img {
    margin-bottom: 5px;
    width: 100%;
    display: block;
    text-align: center;
}

/* Extras.
-------------------------------------------------------------- */
#clear {
    clear: both;
}

.wpcd-countdown-expired {
    color: red;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 13px;
}

/* resets */
.wpcd-coupon *,
*:before,
*:after {
    box-sizing: border-box !important;
}

.wpcd-coupon-one *,
*:before,
*:after {
    box-sizing: border-box !important;
}

.wpcd-coupon-two *,
*:before,
*:after {
    box-sizing: border-box !important;
}

.wpcd-coupon-three *,
*:before,
*:after {
    box-sizing: border-box !important;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* grid */
.row {
    margin: 0 -10px;
    margin-bottom: 20px;
}
.row:last-child {
    margin-bottom: 0;
}

[class*="wpcd-col-"] {
    padding: 5px 5px 5px 5px;
}


/* Premium Code Stripped by Freemius */


@media screen and (max-width: 767px){

    .wpcd-col-1-8 {
        margin-bottom: 5px;
        width: 100% !important;
    }

    .wpcd-coupon-discount-text, .coupon-type {
        box-sizing: border-box;
        width: 100% !important;
    }

    .wpcd-coupon {
        padding: 10px;
    }

    .wpcd-col-7-8 {
        box-sizing: border-box;
        width: 100% !important;
    }

    .wpcd-coupon-one .wpcd-col-one-1-4 {
        margin: 10px 0 0;
        width: 100%;
    }

    .wpcd-coupon-one-discount-text,
    .wpcd-coupon-one .coupon-code {
        margin-left: 0;
    }

    .wpcd-coupon-one .wpcd-col-one-1-8 {
        width: 100%;
    }

    .wpcd-coupon-one .wpcd-col-one-7-8 {
        width: 100%;
    }

    .wpcd-coupon-one h4, .wpcd-coupon-one .wpcd-coupon-description {
        text-align: center !important;
    }

    .wpcd-coupon-two .wpcd-col-two-1-4 {
        margin-bottom: 8px;
        width: 100%;
    }

    .wpcd-coupon-two .wpcd-col-two-3-4 {
        width: 100%;
    }

    .wpcd-coupon-three-expire, .wpcd-coupon-three-coupon {
        text-align: center;
        width: 100%;
    }

    .wpcd-coupon-three .wpcd-coupon-description, .wpcd-coupon-three h4 {
        text-align: center;
    }

}


/* Premium Code Stripped by Freemius */


@media all and ( min-width: 600px ) {

    .wpcd-col-2-3 {
        float: left;
        width: 66.66%;
    }

    .wpcd-col-1-1 {
        float: left;
        width: 100%;
    }

    .wpcd-col-1-2 {
        float: left;
        width: 50%;
    }
    .wpcd-col-1-3 {
        float: left;
        width: 33.33%;
    }
    .wpcd-col-1-4 {
        float: left;
        width: 36%;
    }
    .wpcd-col-3-4 {
        float: left;
        width: 64%;
        padding-left: 0px;
    }
    .wpcd-extra-content-full .wpcd-col-3-4 {
        padding-right: 0;
        width: 100%;
    }
    .wpcd-col-1-8 {
        float: left;
        width: 150px;
    }

    .wpcd-col-7-8 {
        float: left;
        width: -webkit-calc(100% - 150px);
        width: -moz-calc(100% - 150px);
        width: calc(100% - 150px);
    }

    /*
    Template one styles.
    */
    .wpcd-col-one-1-4 {
        float: left;
        width: 24%;
        margin-left: 5px;
    }
    .wpcd-col-one-1-8 {
        float: left;
        width: 25%;
    }

    .wpcd-col-one-7-8 {
        float: left;
        width: 49.5%;
    }

    /* template two styles.
    */
    .wpcd-col-two-1-4 {
        float: left;
        width: 25%;
    }

    .wpcd-col-two-3-4 {
        float: left;
        width: 75%;
    }

    /* template three styles.
    */
    .wpcd-col-three-1-4 {
        float: left;
        width: 25%;
    }

    .wpcd-col-three-3-4 {
        float: left;
        width: 75%;
    }

}


/* Premium Code Stripped by Freemius */


/*widget elwany*/
.wpcd-widget .wpcd-coupon-widget-title{
    font-weight: bold;
}
.wpcd-widget .wpcd-coupon-description{
    text-align: center;
    font-size: 16px;
}
.wpcd-widget.wpcd-coupon-one .wpcd-coupon-header{
    border-bottom: 0;
}
.wpcd-widget.wpcd-coupon-one .wpcd-coupon-one-discount-text{
    margin:20px 0;
}
.wpcd-widget.wpcd-coupon-two .wpcd-coupon-widget-title{
    padding:10px 0 20px 0;
    border-bottom: 1px solid #d1d1d1;
} 
.wpcd-widget.wpcd-coupon-two .wpcd-coupon-header{
    border-bottom: 1px solid #d1d1d1;
}
.wpcd-widget.wpcd-coupon-two .wpcd-coupon-expire{
    font-size: 16px;
}
.wpcd-widget.wpcd-coupon-two .wpcd-coupon-expire>span:first-child{
    color:#222;
}
.wpcd-widget .wpcd-coupon-one-img{
    max-height: 100%;
}

.wpcd-widget.wpcd-coupon-three .wpcd-coupon-expire{
    margin:20px 0;
}

.wpcd-widget-default .wpcd-coupon-code,.wpcd-widget .wpcd-coupon-code {
    text-align: center;
}
@media screen and (max-width: 980px){
    .wpcd-coupon-one .wpcd-coupon-code{
        text-align: center;
    }
    .wpcd-coupon-three .wpcd-coupon-code{
        text-align: center;
    }
}


/*fix bugs*/
.wpcd_archive_section .wpcd_coupon_li_top_discount_left{
    width:auto;
    float:left;
    margin: 6px 0;        
}
.wpcd_archive_section .wpcd_btn_wr{
    width:auto;
    float: right;
}
.wpcd-coupon-button-type div.active.coupon-code-wpcd{
    color: #444444;
    background: #EBEBEB;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.06) 10%, transparent 15%, transparent 35%, rgba(0, 0, 0, 0.06) 40%, rgba(0, 0, 0, 0.06) 60%, transparent 65%, transparent 85%, rgba(0, 0, 0, 0.06) 90%) repeat scroll 0 0/6px 6px transparent;
    text-align: center;
    padding: 10px 12px;
    font-size: 13px;
    border: 2px solid #DDDDDD;
    position: relative;
    text-decoration: none;
    min-width: 132px;
    margin-left: 10px;
}
@media screen and (max-width: 450px){

    .wpcd_archive_section .wpcd_btn_wr,.wpcd_archive_section .wpcd_coupon_li_top_discount_left{
        width:100%;
        float:none;
    }
}
@media (min-width: 600px){
    .wpcd-coupon-default .wpcd-coupon-header .wpcd-col-1-4 {
        width:auto;
        float: right;
    }
    .wpcd-coupon-default .wpcd-coupon-header .wpcd-col-3-4{
        overflow: auto;
        float: none;
        width:auto;
    }
    .wpcd-coupon-default .wpcd-coupon-button-type .coupon-code-wpcd{
        float:right;
    }
}
