/*
 * Affiliates
 */
.reward_affiliate{
	background-color: green !important;
}

td.admin_affiliates_td a{
	margin-bottom: 5px !important;
}

.rewards_status{
	color: green;
	font-weight: 700;
}

input.button-secondary {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}