/*
 * Tests Page
 */

.wpsqt_multiple_question.download{
	padding: 10px;
}
 
input.button-secondary {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.kni_success_box{
    border-color: #d6e9c6;
    color: #3c763d;
    background-color: #dff0d8;
    padding: 10px;
    border-radius: 3px;
}

.kni_error_box{
	border-color: #f2dede; 
	color: #a94442 ;
	background-color: #f2dede; 
	padding: 10px; 
	border-radius: 3px;
}

.wpsqt_multiple_question.file .afu-process-file {
    margin: 10px 0px;
}

/*
 * Centers Map
 */
 
.controls {
    display: flex;
    justify-content: space-around;
}

#aff_search{
	width: auto;
	display: inline;
}

#aff_list .search {
    width: 100%;
    max-width: 250px !important;
}
 
#aff_map{
	height: 500px;
}

#aff_list{
	text-align: center;
	padding: 30px 0px;	
}

#aff_list .aff_logo{
	width: 100px;
	height: 100px;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}

#aff_list .kni_row.heads{
	font-weight: 700;
	font-size: 18px
}

#aff_list .kni_row .kni_td{
	width: 25% !important;
	padding: 10px;
}

#aff_list .kni_row {
    display: flex;
    justify-content: space-around;
}

/**
 * PMPro Checkout Page
 */

#promo_code_wrapper #loader{
	display: none;
	vertical-align: middle;
}
 
#promo_code_wrapper #discount_code_message{
	margin-top: 20px !important;
}

#pmpro_payment_information_fields, .pmpro_btn.pmpro_btn-submit-checkout, #promo_code_wrapper{
	display: none;
}

.prev_next_btns_container{
	margin: 0 auto !important;
    max-width: 150px;
    text-align: center;
 }
 
.prev_next_btns_container div:hover{
	 background-color: #FAFAFA;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
    text-decoration: none;
 }
  
.prev_next_btns_container div{
    display: inline-block;
    background-color: #EFEFEF;
    background-image: none;
    border: 1px solid #D6D6D6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
 
.kni_checkout_box .martial_arts_black_belt_number_wrapper td{
	padding: 5px 5px 0px 10px !important;
 }
 
.kni_checkout_box input.belt_number {
    width: 90%;
}
 
.kni_checkout_box .martial_arts_black_belt_number_wrapper{
	margin-top: 0 !important;
}

.kni_checkout_box .martial_arts_black_belt_number_wrapper th {
    padding: 3px 10px !important;
}

.kni_checkout_box  .martial_arts_belt_number_wrapper {
    display: inline-block;
    vertical-align: top;
    padding: 0 !important;
    margin: 0 !important;
}
 
.kni_martial_arts_black_belt .pmpro_asterisk{
	vertical-align: top;
    padding: 4px;
    position: relative;
    top: 8px;
 }
 
#aff_certif_div, .all_certif_btns{
	margin-bottom: 0 !important;
}

.kni_martial_arts_black_belt{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
 
.kni_martial_arts_black_belt .ui.dropdown{
	display: inline-block;
    max-width: 292px;
}

#aff_certif_div span.add {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: green;
    cursor: pointer;
}

#aff_certif_div span.remove {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: red;
    cursor: pointer;
    position: relative;
    bottom: 1px;
}
 
.aff_certif_container {
    margin-top: 0px !important;
	margin-bottom: 8px !important;
}

.all_certif_btns {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px !important;
}
 
.kni_checkout_box input{
	max-width: 292px !important;
}
 
#affiliate_tc_div label span{
	text-decoration: underline;
	color: #0066cc;
	cursor: pointer;
}

#affiliate_tc_div label span:hover{
	color: #cc3333;
}
 
.modal_box {
	display: none;
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999999;
}

.modal_background{
	background: rgba(0,0,0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal_container {
    background: #fff;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    top: 5%;
    padding: 20px 40px 30px 40px;
    text-align: left;
    overflow-y: scroll;
    height: 90%;
}

.modal_container h1{
	text-align: center;
}

.modal_container .close{
	cursor: pointer;
	z-index: 9999999;
    position: relative;
}

.martial_arts_years_number_wrapper td{
	padding: 5px 10px 0px 10px !important;
}
 
.years_number{
	width: 40px !important;
}
 
.martial_arts_years_number_wrapper th{
	padding: 0px 5px 5px 5px !important;
}
 
#account_martial_arts_years_div{
	margin-bottom: 0px !important;
}
 
.account_martial_arts_years_wrapper{
	margin-top: 0px !important;
}
 
.martial_arts_years_number_wrapper {
    display: inline-block;
    vertical-align: top;
	margin-top: 3px !important;
}

#account_martial_arts_years_div .pmpro_asterisk{
	padding: 8px;
	display: inline-block;
	vertical-align: top;
} 

#account_martial_arts_years_div .ui.fluid.search.selection.dropdown.multiple{
	 display: inline-block;
    max-width: 292px !important;
    width: 100%;
 }
 
h4 .pmpro_thead-name{
	font-size: 16px !important;
	font-weight: 700 !important;
	padding-bottom: 30px;
}

#pmpro_checkout_box-checkout_boxes{
	padding: 0 10px 30px 10px;
}

#aff_adress_div #user_physical_address{
	margin-right: 4px !important;
}

.pmpro_error  {
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    color: #a94442 !important;
}

.pmpro_asterisk abbr {
    vertical-align: top !important;
}

/**
 * WooCommerce MyAccount Page
 */

#kni_linked_members > h3{
	float: left;
}
 
.search_form_field.submit_btn {
    position: relative;
    right: 35px;
    top: 8px;
}
 
form.member_search_box {
    position: relative;
	float: right;
}
 
input#members_search {
    width: 75%;
}
 
.search_form_field button[type=submit] {
    background: url(../images/if_search_126577.png) center no-repeat !important;
    width: 25px;
    height: 29px;
    background-size: 50% !important;
    border: 0;
    cursor: pointer;
}
 
.search_form_field button[type=submit]{
	background: url(../images/if_search_126577.png);
	width: 25px;
	height: 25px;
}
 
.member_search_box .search_form_field {
    display: inline-block;
}

div#kni_promo_code span.Yes{
	color: green !important;
	font-weight: 700 !important;
}

div#kni_promo_code span.No{
	color: red !important;
	font-weight: 700 !important;
}
 
div#kni_promo_code th, div#kni_promo_code td {
    text-align: center;
}

div#kni_promo_code td {
	border-color: #000;
}
 
div#kni_linked_members th{
	text-align: center;
}
 
div#kni_linked_members td {
    vertical-align: top !important;
	padding: 4px 10px !important;
	border-color: #000;
}
 
.martial_arts_belt_number_wrapper{
	max-width: 500px;
	padding-top: 10px;
}

.belt_number{
	margin-bottom: 5px;
}

.affiliate_certificates_box.active {
    padding: 15px 0;
}

.affiliate_certificates_a{
	display:block;
	text-decoration:underline;
}

div.woocommerce-form-row{
	margin-bottom: 20px;
}

#account_logo_p #thumbnail{
	display:none;
}

.account_logo_image{
	background: url('../images/dummy-f74b4666807c1d3d46086580423e5bc63e03aa9956a173a995025f1c7d8ca3ff.png') center no-repeat; 
	background-size: cover;
	width: 100px;
	height: 100px;
	display: block;
	margin-bottom: 10px;
}


i.delete.icon:before {
    content: "x";
    margin-left: 10px;
    font-style: normal;
    color: grey;
    cursor: pointer;
}

div.ui.search.selection.dropdown{
    border-radius: 0px;
	
}

input.search{
	display: inline-block !important;
	font-size: 16px !important;
}

a.ui.label{

    border-radius: 5px !important;
}


