<p>Thank you for your membership to !!sitename!!. Your membership account is now active.</p>
<p>Below are details about your membership account and a receipt for your initial membership invoice.</p>

<p>Account access:<br/>
<b>Username:</b> !!user_login!!<br/>
<b>Password:</b> !!password!!
</p>
<p>Membership Level: !!membership_level_name!!</p>
<p>Membership Fee: !!membership_cost!!</p>
!!membership_expiration!! !!discount_code!!

<p>
	Invoice #!!invoice_id!! on !!invoice_date!!<br />
	Total Billed: !!invoice_total!!
</p>
<p>
	Billing Information:<br />
	!!billing_address!!
</p>

<p>
	!!cardtype!!: !!accountnumber!!<br />
	Expires: !!expirationmonth!!/!!expirationyear!!
</p>